git+https://github.com/zelefogs/Discord_Bot_O
beautifulsoup4==4.9.3     # via bs4
certifi==2020.6.20        # via requests
chardet==3.0.4            # via requests
geojson==2.5.0            # via pyowm
idna==2.10                # via requests
pyowm==3.1.1
requests==2.24.0
urllib3==1.25.10          # via requests
PySocks==1.7.1            # via socket